@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ff0000; /* Sfondo rosso */
    color: #ffffff; /* Testo bianco */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

.description {
    font-size: 1.2rem;
    margin: 15px 0;
}

button {
    background-color: #ffffff; /* Bottone bianco */
    color: #ff0000; /* Testo rosso */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffe5e5; /* Colore chiaro al passaggio del mouse */
}
